button {

    background-color: grey; /* Color inicial del botón */
  
    color: white;
  
    padding: 10px 20px;
  
    border: none;
  
    cursor: pointer;
  
  }
  
  button:hover {
  
    background-color: blue; /* Color del botón cuando el ratón pasa por encima */
  
  }